<% @page_title = "Home" %>
<% @page_description = "New Description" %>
<!-- https://stock.adobe.com/search?serie_id=170572779&load_type=see_more&prev_url=detail -->

<div class="hero-home">
	<div class="wrap-new">
			<%= image_tag('logo-text.png', alt: 'USA DNA Testing: genetic markers image', class: 'img-responsive h1-img') %>
		<!-- <h1>USA DNA Testing</h1> -->
		<h2>Easy as swab, 2, 3...</h2>
		<h3>Call Us Today: <br>
			<a href="tel:18662125426" id="number_link" onclick="ga('send', 'event', 'Phone Number', 'Clicked to Call', 'Number on Website', '1');">1 (866) 212-5426</a>
		</h3>
	</div>
</div>

<div class="dna-dos">
	<div class="inner">
		<%= image_tag('star.png', alt: 'USA DNA Testing: genetic markers image', class: 'img-responsive img-layer') %>
		<div class="tb">
			<h3>Painless Testing, Reliable Results</h3>
			<p>USA DNA Testing offers fast, accurate, affordable DNA/Paternity Testing in over 2,445 accredited locations across the nation!</p>
			<%= link_to "Find One Near You", states_path, class: 'link-a' %>
		</div>
	</div>
</div>

<div class="legal-lt">
	<div class="inner">
		<div class="left">
			<h2><span>Legal &amp; Non-Legal</span><br> DNA &amp; Paternity Testing Options</h2>
			<p>We offer a variety of testing options to suit different needs.
			Whether you require legal testing, which must maintain a strict chain of custody, or a non-legal option, to be done in the comfort of your own home,
			you can trust the professional staff of USA DNA Testing to uphold the highest quality standards.</p>
			<p><span>All samples are taken by gently rubbing a soft swab on the inside of the cheek, so testing is painless and non-invasive.</span></p>
			<%= link_to "Testing Options", options_path, class: 'link-a' %>
		</div>

		<div class="right">
			<%= image_tag('baby-crown.png', alt: 'USA DNA Testing: genetic markers image', class: 'img-responsive') %>
		</div>
	</div>
</div>

<div class="call-block">
	<div class="inner">
		<h3>Please call us, toll-free, if you have any questions, <br class="uno">or would like to schedule a DNA/Paternity Test:<br>
		<a href="tel:18662125426" id="number_link" onclick="ga('send', 'event', 'Phone Number', 'Clicked to Call', 'Number on Website', '1');">1 (866) 212-5426</a>
	</h3>
	</div>
</div>

<div class="homekit">
	<div class="inner">
		<div class="left">
			<%= image_tag('dna-box.png', alt: 'USA DNA Testing: genetic markers image', class: 'img-responsive') %>
		</div>

		<div class="right">
			<h2>Home Testing Kit</h2>
			<p>Our Home Testing Kit allows you to perform paternity testing in the comfort and privacy of your home, with 99.9% accuracy. One low price includes everything you need: testing kit, shipping, and results.</p>
			<%= link_to "More Details", new_charge_path, class: 'link-a' %>
		</div>
	</div>
</div>

