<% @page_title = @state.name.capitalize %>

<div class="all-towns">
	<div class="full pop">
		<div class="one">
		  <h1>USA DNA Testing in <span><%= @state.name %></span></h1>
		  <%= render 'shared/dna-text' %>
		</div>

		<div class="location-map">
  		<% if @state_towns.count != 0 %>

  			<div class="map-hlf">
					<%= render 'shared/map' %>
	  		</div>

	  		<div class="town-hlf">
	  			<div class="search-sec">
						<div class="searcher">
							<%= form_with(url: locations_path, class: "form-inline", local: true, method: :get) do |f| %>
							  <%= f.text_field :near, class: "form-control", placeholder: "Search" %>
							  <%= f.submit "", class: "btn btn-outline-secondary search" %>
							<% end %>
						</div>
					</div>

					<div class="loclist">
						<table class="listing">
							<% @state_towns.each do |town| %>
								<tr>
								  <td><h4 class="state-name"> <%= link_to town.townname.capitalize, town_path(town) %>
								  	<!-- <%= town.id %>. (<%= town.locations.count %>) -->
								  </h4></td>
							  </tr>
				  		<% end %>
						</table>
					</div>
				</div>

  		<% else %>
			 	<p class="zero">Unfortunately, we have no testing locations in <%= @state.name %>. <b><%= link_to "Click here", new_charge_path %></b> to order an At Home DNA Test Kit!</p>
			<% end %>
		</div>
	</div>
</div>
