<% @page_title = "Cities" %>

<div class="full">
	<div class="wrap">
		<h2>Import Locations</h2>
		<%= form_tag import_towns_path, multipart: true do %>
		  <%= file_field_tag :file %>
		  <br>
		  <%= submit_tag "Import" %>
		<% end %>
	</div>
</div>

<div class="full">
	<div class="wrap">
		<h1><%= @page_title %> </h1>
		<table class="townlisting">
			<% @towns.each do |town| %>
		  <tr class="townlisting-bx">
		    <td><p><%= link_to town.townname, town_path(town) %></p></td>
		    <!-- <td><p>&nbsp;<%= town.state_id %></p></td> -->
		    <td><p><%= link_to town.state.abv, state_path(town.state) %></p></td>
		    <td class="col-md-2"><p>ID: <%= town.id %></p></td>
		    <td class="col-md-2"><p>Locations: <%= town.locations.count %></p></td>
		  </tr>
		  <% end %>
		</table>
	</div>
</div>


<!--
ROO (save until reversed)
##routes.rb
resources :towns do
  collection do
    post :import
  end
end

##towns_controller
def import
  Product.import(params[:file])

  redirect_to root_url, notice: 'Products imported.'
end

-->
