<% @page_title = "Our Locations" %>

<div class="full pop">
	<div class="one">
		<h1>Location Search Results</h1>
		<p>USA DNA Testing offers DNA &amp; Paternity testing options that are non-invasive, affordable, and 99.99% accurate. Your privacy is our guarantee.<br>
		For more information, call us toll free at: <%= phone %>.
			Click Here to schedule your testing appointment today!</p>
	</div>


	<div class="location-map">
		<div class="map-hlf">
			<%= render 'shared/map' %>
		</div>

		<div class="town-hlf">
			<div class="search-sec">
				<div class="searcher">
					<%= form_with(url: locations_path, class: "form-inline", local: true, method: :get) do |f| %>
					  <%= f.text_field :near, class: "form-control", placeholder: "Search" %>
					  <%= f.submit "", class: "btn btn-outline-secondary search" %>
					<% end %>
				</div>
			</div>

			<div class="loclist">
				<table>
				<% @locations.each do |location| %>
					<div class="townlisting-bx">
						<h4>
							<!-- <%= simple_format(location.full_address)%>-->
							<%= location.street.titleize %><br>
							<% if location.street2 %><%= location.street2.titleize %><br><% end %>
							<%= location.town.townname %>, <%= location.state.abv %> <%= location.zip %>
							<br>
							<a href="tel:18667504773" id="number_link" onclick="ga('send', 'event', 'Phone Number', 'Clicked to Call', 'Number on Website', '1');">1(866) 750-4773</a>
						</h4>

							<!-- <div class="actions"><small><%= link_to("Edit Location (#{location.id})", edit_location_path(location)) %></small></div> -->

					</div>
				<% end %>
				</table>
			</div>
	</div>
</div>
