<% @page_title = 'Location' %>

<div class="full">
	<div class="wrap">
	  <h1>Get DNA Tested Today in <span><%= @location.city %>, <%= @location.state %></span></h1>
	  <hr class="title-line">
		<div class="clearfix"></div>
		<%= link_to "Delete This Location", location_path(@location), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "btn btn-danger" %>
		<%= link_to("Add New Location", new_location_path, :class => 'action new btn-add inline') %>
		<%= render 'shared/dna-text' %>
	</div>
	<div class="clearfix"></div>

	<div class="wrap clinics">
			<table class="clinics">

			</table>
	</div>

</div>








