<li class="nav-li"><%= link_to 'Home', root_path, class: 'nav-link' %></li>
<li class="nav-li"><%= link_to 'Locations', states_path, class: 'nav-link' %></li>
<li class="nav-li"><%= link_to 'Testing Options', options_path, class: 'nav-link' %></li>
<li class="nav-li"><%= link_to 'About', our_process_path, class: 'nav-link' %></li>

<!-- ** see NOTES for details -->
<li class="nav-li"><%= link_to 'Home Kit', new_charge_path, class: 'nav-link' %></li>
<!-- <li class="nav-li ft-only mfl"><%= link_to 'Home Testing Kit', new_charge_path, class: 'nav-link' %></li> -->
